.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  background-color: rgba(53, 53, 53, 0.5);
  width: 450px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  padding: 20px !important;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}
app-header {
  width: 100%;
  background: rgb(168, 213, 128);
  background: linear-gradient(
    90deg,
    rgba(168, 213, 128, 0.5626666666666666) 0%,
    rgba(73, 172, 109, 1) 42%
  );
  color: #333;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 10px;
  text-align: center;
}
app-section {
  width: 100%;
}
app-result {
  width: 80%;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
